# Aliases

# Config files
alias zshconfig="nano ~/.zshrc"
alias ohmyzsh="nano ~/.oh-my-zsh"

# Show machine IP
alias myip="curl http://ipecho.net/plain; echo"

# Info on current distro
alias distro='cat /etc/*-release'

# Reload terminal
alias reload='source ~/.zshrc'

# List files
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Make and enter a directory
alias mkcd='foo(){ mkdir -p "$1"; cd "$1" }; foo '

# Install & Uninstall
alias install="sudo apt install"
alias uninstall="sudo apt remove --purge"

# System update & upgrade
alias update='sudo apt update && sudo apt upgrade -y'

# Git pull upstrean master
alias gum="git pull upstream master"

# Changed your .gitignore _after_ you have added / committed some files?
# run `gri` to untrack anything in your updated .gitignore
alias gri="git ls-files --ignored --exclude-standard | xargs -0 git rm -r"