# Aliases
#
# References
# https://github.com/paulirish/dotfiles/blob/master/.aliases

# Make sudo use aliases, from https://askubuntu.com/a/22043/353466
alias sudo='sudo '

# Repeat last command with sudo
alias please='sudo $(fc -nl -1)'

# Verbose in chmod & chown
alias chmod='chmod -v'
alias chown='chown -v'

# List files
alias ls='ls --color'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias lsd='ls -l | grep "^d"' # only directories

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# Config files
alias zshconfig="nano ~/.zshrc"
alias ohmyzsh="nano ~/.oh-my-zsh"

# Reload terminal
# alias reload='source ~/.zshrc'
# Apparenlty this way is better:
alias reload='exec zsh -l'

# Show machine IP
alias myip="curl http://ipecho.net/plain; echo"

# Print color map
alias colormap="for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done"

# Info on current distro
alias distro='cat /etc/*-release'

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

# Make and enter a directory
alias mkcd='foo(){ mkdir -p "$1"; cd "$1" }; foo '

# Install & Uninstall
alias install="sudo apt install"
alias uninstall="sudo apt remove --purge"

# System update & upgrade
alias update='sudo apt update && sudo apt -y upgrade && sudo apt autoremove && omz update && antigen update && nvm install-latest-npm'

# Git pull upstrean master
alias gum="git pull upstream master"

# Changed your .gitignore _after_ you have added / committed some files?
# run `gri` to untrack anything in your updated .gitignore
alias gri="git ls-files --ignored --exclude-standard | xargs -0 git rm -r"

# Startup a server in your current directory (no npm packages required)
alias server='python -m SimpleHTTPServer 8000'

# --- WSL Aliases ---

alias open="explorer.exe"

# --- Suffix Aliases ---

# Open these files in VS Code without typing the `code` command. Just type the filename.
alias -s azcli=code
alias -s ps1=code
alias -s md=code
alias -s json=code
alias -s {cs,ts,html}=code

# Clone .git repo by just typing the URL
alias -s git="git clone"