# ~/.npmrc: defaults that `npm init` writes into a new package.json
# (author name/URL/email, starting version, licence).
# Used by: npm (and vite-plus's npm shim). Symlinked by scripts/dotfile-install.sh.
# Fate: move the personal values (name, URL) to local config before the repo
# goes public (docs/security.md).

init-author-name=Sean Buckley
init-author-url=http://buckley.ca
init-author-email=seanbuckley@users.noreply.github.com
init-version=0.0.1
init-license=MIT
